
<div class="container-fluid">

  <div class="row top-bottom20">    
    <div class="form-inline">
      <div class="form-group">
        <input type="text" (keyup.enter)="add(newPosition.value); newPosition.value=''"  
            class="form-control" placeholder="Name" #newPosition />
      </div>
      <button class="btn btn-success" (click)="add(newPosition.value); newPosition.value=''">
        Add new position
      </button>   
    </div>
  </div>


  <div class="row">
 
    <table class="table table-striped table-condensed">
      <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>ACTION</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let position of positions" class="table-striped">
          <td>{{position.id}}</td>
          <td>{{position.name}}</td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-warning"
                (click)="onSelect(position); $event.stopPropagation()">edit</button>
              <button class="btn btn-danger"
                (click)="delete(position); $event.stopPropagation()">delete</button>
            </div>
          </td>
        </tr>
      </tbody>        
    </table>

  </div>


  <div class="row clearfix" *ngIf="selectedPosition" >
    <div class="col-md-4 col-md-offset-4 column">
        <div role="form">
            <div class="form-group">
                 <label for="inputId">ID</label>
                 <input type="text" class="form-control" value="{{selectedPosition.id}}" disabled/>
            </div>
            <div class="form-group">
                 <label for="inputName">Name</label>
                 <input id="inputName" [(ngModel)]="selectedPosition.name" placeholder="name" type="text" class="form-control"/>
            </div>
            <button class="btn btn-success" (click)="save(selectedPosition)">Save</button>
        </div>
    </div>
 </div>
 
 
</div>