
<div class="container-fluid">
 
 <div class="row top-bottom20">
    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#addEmployee">
        Add new employee
    </button>
 </div>

 <div class="row">

    <div id="addEmployee" class="collapse col-md-4 column top-bottom20" >
        <form role="form" #newEmployeeForm="ngForm" (ngSubmit)="add(newEmployeeForm)">
            
            <div class="form-group">
                <label>Name</label>  
                <input type="text" id="name" class="form-control" placeholder="Name"
                        required minlength="3" maxlength="15"
                        name="name" ngModel #name="ngModel" >
            </div>

            <div class="form-group">
                <label>Surname</label>     
                <input type="text" id="surname" class="form-control" placeholder="Surname"
                        required minlength="3" maxlength="15"
                        name="surname" ngModel #name="ngModel" >
            </div>

            <div class="form-group">      
                <label>Email</label>    
                <input type="email" id="email" class="form-control" placeholder="Email"
                        required minlength="3" maxlength="15"
                        name="email" ngModel #name="ngModel" >
            </div>

            <div class="form-group">
                <label>Phone</label>       
                <input type="phone" id="phone" class="form-control" placeholder="Phone"
                        required minlength="3" maxlength="15"
                        name="phone" ngModel #name="ngModel" >
            </div>
            
            <div class="form-group " >
                <label>BirthDay</label>       
                <input type="date" name="birthDate" class="form-control" 
                [ngModel]="birthDate | date:'dd.MM.yyyy'" placeholder="Birthday: dd.mm.yyy">   
            </div>

            <div class="form-group" >
                <label>Employee date</label>                 
                <input type="date" name="employmentDate" class="form-control" 
                [ngModel]="employmentDate | date:'dd.MM.yyyy'" placeholder="Employment date: dd.mm.yyy">             
            </div>
            
            <div class="form-group">
                <label>Position</label>          
                <select class="form-control" name="positionId" [(ngModel)]="selectPosition">
                <option [ngValue]="selectPosition">Select position</option>
                <option *ngFor="let position of positions" [ngValue]="position.id">{{position.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Parent Employee</label>        
                <select class="form-control" name="parentEmployeeId" [(ngModel)]="selectParent">
                    <option [ngValue]="selectParent">Parent Employee</option>
                    <option *ngFor="let employee of employees" [ngValue]="employee.id">{{employee.name}}</option>
                </select>
            </div>           

            <div class="form-group">
                <label>Department</label>           
                <select class="form-control" name="departmentId" [(ngModel)]="selectFrom">
                <option [ngValue]="selectFrom">Parent Department</option>
                <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}</option>
                </select>
            </div>

            <button type="submit" [disabled]="!newEmployeeForm.form.valid" class="btn btn-success">
                Save
            </button>   
        </form>
    </div>
 </div>



  <div class="row">
 
    <table class="table table-striped table-condensed">
      <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>BIRTHDAY</th>
        <th>EMPL. DATE</th>
        <th>ACTION</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees" class="table-striped">
          <td>{{employee.id}}</td>
          <td>{{employee.name}} {{employee.surname}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.birthDate}}</td>
          <td>{{employee.employmentDate}}</td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-warning"
                (click)="onSelect(employee); $event.stopPropagation()">edit</button>
              <button class="btn btn-danger"
                (click)="delete(employee); $event.stopPropagation()">delete</button>
            </div>
          </td>
        </tr>
      </tbody>        
    </table>

  </div>


  <div class="row clearfix" *ngIf="selectedEmployee" >
    <div class="col-md-4 col-md-offset-4 column">
        <form role="form" #updateEmployeeForm="ngForm" (ngSubmit)="update(updateEmployeeForm)">
            <div class="form-group">
                <label for="inputId">ID</label>
                <input type="text" class="form-control" name="id" [(ngModel)]="selectedEmployee.id" readonly/>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" id="name" name="name"  class="form-control" placeholder="Name" 
                required [(ngModel)]="selectedEmployee.name" minlength="3" maxlength="15" />
            </div>

            <div class="form-group">
                <label>Surname</label>     
                <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname"
                    required [(ngModel)]="selectedEmployee.surname" minlength="3" maxlength="15">
            </div>

            <div class="form-group">      
                <label>Email</label>    
                <input type="text" id="email" name="email" class="form-control" placeholder="Email"
                    required [(ngModel)]="selectedEmployee.email" minlength="3" maxlength="25">
            </div>

            <div class="form-group">
                <label>Phone</label>       
                <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone"
                    required [(ngModel)]="selectedEmployee.phone" minlength="3" maxlength="25">
            </div>

            <div class="form-group " >
                <label>BirthDay</label>       
                <input type="date" name="birthDate" class="form-control"  placeholder="Birthday: dd.mm.yyy"
                    required [ngModel]="selectedEmployee.birthDate">   
            </div>

            <div class="form-group" >
                <label>Employee date</label>                 
                <input type="date" name="employmentDate" class="form-control"  placeholder="Employment: dd.mm.yyy"
                    required [ngModel]="selectedEmployee.employmentDate">   
            </div>


            <div class="form-group">
                <label>Position</label>          
                <select class="form-control" name="positionId" [(ngModel)]="selectPosition">
                <option [ngValue]="selectPosition">Select position</option>
                <option *ngFor="let position of positions; let i = index" [selected]='selectedEmployee.positionId === position.id' [ngValue]="position.id">{{position.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Parent Employee</label>        
                <select class="form-control" name="parentEmployeeId" [(ngModel)]="selectParent">
                    <option [ngValue]="selectParent">Parent Employee</option>
                    <option *ngFor="let employee of employees; let i = index" [selected]='selectedEmployee.parentEmployeeId === employee.id' [ngValue]="employee.id">{{employee.name}}</option>
                </select>
            </div>           

            <div class="form-group">
                <label>Department</label>           
                <select class="form-control" name="departmentId" [(ngModel)]="selectFrom">
                <option [ngValue]="selectFrom">Parent Department</option>
                <option *ngFor="let department of departments; let i = index" [selected]='selectedEmployee.departmentId === department.id' [ngValue]="department.id">{{department.name}}</option>
                </select>
            </div>

            <button type="submit" [disabled]="!updateEmployeeForm.form.valid" class="btn btn-success">Save</button>
        </form>
    </div>
 </div>
 
</div>