<!--The whole content below can be removed with the new code.-->
<ul class="nav nav-pills">
  <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
  <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/positions">Positions</a></li>
  <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/departments">Departments</a></li>
  <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/employees">Employees</a></li>
</ul>

<router-outlet></router-outlet>