
<div class="container-fluid">

  <div class="row top-bottom20">    
    
    <form class="form-inline" #newDepartmentForm="ngForm" (ngSubmit)="add(newDepartmentForm)">
      
      <div class="form-group">       
        <input type="text" id="name" class="form-control" placeholder="Name"
               required minlength="3" maxlength="15"
               name="name" ngModel #name="ngModel" >
      </div>

      <div class="form-group">        
        <select class="form-control" name="parentId" [(ngModel)]="selectFrom">
          <option [ngValue]="selectFrom">Parent Department</option>
          <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}</option>
        </select>
      </div>

      <button type="submit" [disabled]="!newDepartmentForm.form.valid" class="btn btn-success">
        Add new department
      </button>   
    </form>

  </div>

  <div class="row">
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="col-md-4 column alert alert-danger">
        <div [hidden]="!name.errors.required">
          Name is required
        </div>
        <div [hidden]="!name.errors.minlength">
          Name must be at least 3 characters long.
        </div>
        <div [hidden]="!name.errors.maxlength">
          Name cannot be more than 15 characters long.
        </div>
    </div>
  </div>

  <div class="row">
 
    <table class="table table-striped table-condensed">
      <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PARENT ID</th>
        <th>ACTION</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments" class="table-striped">
          <td>{{department.id}}</td>
          <td>{{department.name}}</td>
          <td>{{department.parentId}}</td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-warning"
                (click)="onSelect(department); $event.stopPropagation()">edit</button>
              <button class="btn btn-danger"
                (click)="delete(department); $event.stopPropagation()">delete</button>
            </div>
          </td>
        </tr>
      </tbody>        
    </table>

  </div>


  <div class="row clearfix" *ngIf="selectedDepartment" >
    <div class="col-md-4 col-md-offset-4 column">
        <form role="form" #updateDepartmentForm="ngForm" (ngSubmit)="update(updateDepartmentForm)">
          <div class="form-group">
              <label for="inputId">ID</label>
              <input type="text" class="form-control" name="id" [(ngModel)]="selectedDepartment.id" readonly/>
          </div>
          <div class="form-group">
              <label for="inputName">Name</label>
              <input id="inputName" name="name" [(ngModel)]="selectedDepartment.name" placeholder="name" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="selectParentId">Parent ID</label>
      
            <select class="form-control" name="parentId" [(ngModel)]="selectFrom">
              <option [ngValue]="selectFrom">Parent</option>
              <option *ngFor="let department of departments; let i = index" [selected]='selectedDepartment.parentId === department.id' [hidden]='department.id === selectedDepartment.id' [ngValue]="department.id">{{department.name}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
 </div>
 
 
</div>